<br><br>
<div class="span12">
	<div class="span8 offset1">
		<section class="widget tiny_head">
			<h3>Ongoing Events </h3>
		</section>
	</div>
	<% @events.each do |t| %>
		<div class="span8 offset1">
			<section class="widget tiny_event">
				<header>
					<h4>
						<%= link_to t.eventname.upcase , upcoming_each_path(t),:style => 'text-decoration: none'  %> 
					</h4>
				</header>
				<%= image_tag t.avatar.url ,:class => 'image_show' %>
				<div class="body">
					<%= button_to "Vote" ,upcomingevents_path ,class: "btn btn-success" %><br><br>
				</div>
			</section> 
		</div>
	<% end %>
</div>
