.widget.tiny_head {
    min-height: 60px;
    padding-left:13px;
    max-width: 671px;
}

.widget.tiny_event {
	min-height: 100px;
	max-width: 671px;
	padding-left:13px;
	

}

.image_show{
	width:98%;
	height:300px;
	padding-left: 0px;
}

.navig{
	max-height: 727px;
	width:583px;
}

.navi{
	max-height: 673px;
}

.image_show_up{
 	height: 300px;
  padding-left: 211px;
  width: 63%;
  }
