<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="event_container">
			<h1>Event list</h1>
			<h1>Upcoming events</h1>
			<% @upcoming_events.each do |f| %>
			<h3><%= link_to f.eventname, edit_admin_path(f) %></h3>
			<%= image_tag f.avatar.url(:medium) %></br>
			<% end %>
			</div>
			<div class="event_container">
			<h1>Ongoing events</h1>
			<% @ongoing_events.each do |f| %>
			<h3><%= link_to f.eventname, edit_admin_path(f) %></h3>
			<%= image_tag f.avatar.url(:medium) %></br>
			<% end %>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>